$color: green;
$res: calc(0.01 * 10vmin);
body {
    padding:0;
    margin:0;
    box-sizing: border-box;
    header{
        height:30px;
        width: 100vw;
        nav{
            float:right;
            // width: 35vw;
            text-align: center;
            // padding-right: 20px;
            padding-left: 20px;
            ul{
                padding: 0;
                // max-width: calc(700 * $res);:
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    font-size:calc(27 * $res);
                    list-style-type: none;
                    padding:10px;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        text-decoration: none;
                        color:$color;
                        ion-icon {
                            padding-right: 5px;
                            padding-left: 15px;
                            color: black;
                        }
                    }
                }
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        .burger {
            border: 1px solid gray;
            border-radius: 5px;
            height: 30px;
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin: calc(50 * var(--res));
            display: none;
            float: right;
            margin:30px;
            &:hover {
                cursor: pointer;
            }
            .line {
            height: 3px;
            width: 30px;
            background-color: gray;
            padding: 0, 2px, 0, 2px;
            border-radius: 5px;
            }
            
            @media (max-width: 576px) {
                display: flex;
            }
        }
        .close{
            .line:nth-child(even) {
                display: none;
            }
            .line:nth-child(1) {
                position: relative;
                transform: rotate(45deg);
                top:5px;
                background-color:red;
            }
            .line:nth-child(3) {
                position: relative;
                transform: rotate(-45deg);
                bottom:5px;
                background-color:red;
            }
        }
    }
}

  
 
@media (min-width: 768px) and (max-width: 992px) {
    
}
